<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Courses_app</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Custom styles for this template -->
<link href="https://v4-alpha.getbootstrap.com/examples/album/album.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Courses Central</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"  asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="CourseList">List all Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AddCourse">Add a new Course</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact"> Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="List"> List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="FAQ">FAQs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Tips">Tips</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Courses Central</p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
