@model AddCourseFormModel


@{
    ViewData["Title"] = "Add your Course";
}
<h2>@ViewData["Title"]</h2>


<hr>


<form asp-action="AddYourCourse" asp-controller="Form">
  <div class="form-group">
    <label asp-for="CourseName">Course Name</label>
    <input asp-for="CourseName" type="CourseName" class="form-control form-control-sm" id="CourseName" placeholder="An Intro to Film Making" required="true">
  </div>
  <div class="form-group">
    <label asp-for="AuthorName">Author Name</label>
    <input asp-for="AuthorName" type="AuthorName" class="form-control form-control-sm" id="AuthorName" placeholder="John Doe" required="true">
  </div>
  <div class="form-group">
    <label asp-for="CourseCode">Course Code</label>
    <input asp-for="CourseCode" type="CourseCode" class="form-control form-control-sm" id="CourseCode" placeholder="CC112235" required="true">
  </div>
  <div class="form-group">
    <label asp-for="Description">What's the course about?</label>
    <textarea asp-for="Description" class="form-control form-control-sm" id="Description" rows="3" required="true"></textarea>
  </div>
  <div class="form-group">
    <label asp-for="Difficulty">What level does it cater to?</label>
    <select asp-for="Difficulty" class="form-control form-control-sm" id="Difficulty">
      <option>Beginner</option>
      <option>Intermediate</option>
      <option>Advanced</option>
    </select>
  </div>

    
    <br>

    
  <div >
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
    
</form>


<br><br>

<address>
    Course Central<br />
    1 Camden Street, Dublin, Ireland<br />
    Phone:
    +353(1) 811-2233
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@coursecental.com">Support@coursecental.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@coursecental.com">Marketing@coursecental.com</a>
</address>
