@model Courses_app.Models.FormModels

<form asp-action="Forms" asp-controller="Home">
    <label asp-for="Coursename"></label>
    <input asp-for="Coursename" placeholder="Your name goes here"/>
    <input type="submit" />
</form>