@model SignUpForm


@{
    ViewData["Title"] = "Sign Up!";
}
<br>
<h2>@ViewData["Title"]</h2>

<hr>

<form asp-action="ThanksSignUp" asp-controller="Form">
  <div class="form-group">
    <label asp-for="StudentName">Your Name</label>
    <input asp-for="StudentName" type="StudentName" class="form-control form-control-sm" id="StudentName" placeholder="John Doe" required="true">
  </div>
  <div class="form-group">
    <label asp-for="Course">Course</label>
    <select asp-for="Course" class="form-control form-control-sm" id="Course">
            <option></option>
    @foreach (var entry in ViewBag.somet) {

            <option>@entry[1] - @entry[2]</option>
      }
    </select>
  </div>
  <div class="form-group">
    <label asp-for="Phone">Contact Phone Number</label>
    <input asp-for="Phone" type="Phone" class="form-control form-control-sm" id="Phone" placeholder="01-xxx3333">
  </div>
  <div class="form-group">
    <label asp-for="Email">Email Address</label>
    <input asp-for="Email" type="Email" class="form-control form-control-sm" id="Email" placeholder="Student@email.com">
  </div>
    

    
    <br>

    
  <div >
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
    
</form>


<br><br>

<address>
    Course Central<br />
    1 Camden Street, Dublin, Ireland<br />
    Phone:
    +353(1) 811-2233
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@coursecental.com">Support@coursecental.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@coursecental.com">Marketing@coursecental.com</a>
</address>
