@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<br>
<hr>
<br>
<p>Courses Central is Ireland’s foremost training centre for anyone interested 
in working in film.  We offer excellent training courses across areas such as 
directing, scriptwriting, acting, camera, sound and producing.  </p>

<p>Perfect for beginners, all of our courses offer hands-on training with the 
latest equipment.  Our tutors all have industry experience and class sizes are 
kept small so that each student has ample access to the equipment and tutor.</p>  

<p>We’re always developing new courses so if you'd like to suggest a course 
check out our Add a New Course page.  Want to book a place now?  
Go to our Course Listings page and book now!</p>

<br>