@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<hr>
<form id="contact-form">
  <div class="form-group">
    <label for="emailAddress">Email address</label>
    <input type="email" class="form-control" id="emailAddress" placeholder="name@example.com" required="true">
  </div>
  <div class="form-group">
    <label for="questionTextArea">Whats your query?</label>
    <textarea class="form-control" id="questionTextArea" rows="3" required="true"></textarea>
  </div>
  <div class="form-group">
    <label for="heardAbout">How did you hear about us?</label>
    <select class="form-control" id="heardAbout">
      <option>Word of Mouth</option>
      <option>Social Media</option>
      <option>News Paper</option>
      <option>Other</option>
    </select>
  </div>
</form>


<address>
    Course Central<br />
    1 Camden Street, Dublin, Ireland<br />
    Phone:
    +353(1) 811-2233
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@coursecental.com">Support@coursecental.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@coursecental.com">Marketing@coursecental.com</a>
</address>
