@{
    ViewData["Title"] = "Course Listings";
}


<br>
<html lang="en">
  <head>
    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Custom styles for this template -->
<link href="https://v4-alpha.getbootstrap.com/examples/album/album.css" rel="stylesheet">
  </head>

  <body>
        <h1>Currently Listed courses</h1>
    <div class="album text-muted" >
      <div class="container">

        <div class="row">
          @foreach (var entry in ViewBag.somet) {
                <div class="card">
                    <!--<img src="http://wiki.magicc.org/index.php?title=File:MAGICC_logo_small.jpg" alt="100%x280" style="height: 280px; width: 100%; display: block;">-->
                    <img src="http://wiki.magicc.org/images/c/ce/MAGICC_logo_small.jpg" alt="100%x280" style="height: 280px; width: 100%; display: block;">
                    <p class="card-text">
                CourseCode: <i>@entry[2]</i><br><hr>
                        <strong>@entry[1]</strong> <i>Price:</i> €@entry[3]
                        <br>@entry[7]
                        <br>
                </div>
                }
        </div>

      </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<!--    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://v4-alpha.getbootstrap.com/assets/js/vendor/holder.min.js"></script>
    <script>
      $(function () {
        Holder.addTheme("thumb", { background: "#55595c", foreground: "#eceeef", text: "Thumbnail" });
      });
    </script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
