@{
    ViewData["Title"] = "FAQ";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<hr><br>
<div>
    
<p><strong>How much experience do I need?</strong></p>
<p>Our beginner courses are just that, for beginners. No prior experience in the particular area is
required, however, a passion for the subject matter is a must!</p>

<p><strong>Where do the courses take place?</strong></p>
<p>The courses take place in our city centre location – see Contact Us page for more details.</p>

<p><strong>What time / how long are the courses?</strong></p>
<p>Weekend courses run from 10am – 5pm Saturday and Sunday. Our evening classes run weeknights,
6.30 – 9.30pm. Check each course page for exact start dates.</p>

<p><strong>How can I avail of the reduced rate?</strong></p>
<p>We offer reduced rates for students, OAPS and unwaged.</p>

<p><strong>What’s your policy on cancellations?</strong></p>
<p>We try our best to offer a refund if a cancellation is inevitable however, we cannot offer a refund
less than 24 hours before a course begins. Sometimes, we can allow a transfer to another course
but this is considered on a case by case basis. If we need to cancel a class for any reason we aim to
give as much notice as possible and will of course offer a full refund in return.</p>

<p><strong>Who are the tutors?</strong></p>
<p>We pride ourselves on having only the best tutors available. All our tutors have industry experience
and are the names behind some of Ireland’s most recognisable films. We also ensure that with small
class sizes, you get great access to your tutor throughout the process so that there’s plenty of scope
to ask questions and learn.</p>

<p><strong>How practical are your courses?</strong></p>
<p>Filmmaking is a practical medium, so we aim to give our students as much hands-on time as
possible. Where appropriate, all classes will make use of the appropriate equipment. This means
you could be outdoors with boom in handing practising location recording (Sound Course), checking
your camera angles match your storyboard (Directing for Screen) or learning the art of photography
using the latest digital cameras and lights (Camera &amp; Lighting). Of course, for scriptwriting, you’ll
just need pen and paper, but you will be expected to write lots and share your work with your
classmates to help you develop and hone your ideas!</p>

    <br><p>For any more questions, be sure to <a asp-area="" asp-controller="Form" asp-action="Contact">get in touch</a>!</p>
</div>
<br>
<br>