@model FormModel

<form asp-action="Index" asp-controller="Form">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" placeholder="Your name goes here"/>
    <input type="submit" />
</form>