@{
    ViewData["Title"] = "Home Page";
}
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Courses Central</h1>
        <p class="lead text-muted">Your New home for video training courses!</p>
        <p>
          <a asp-area="" asp-controller="Home" asp-action="CourseList" class="btn btn-primary">See Current Courses</a>
          <a asp-controller="Form" asp-action="SignUp" class="btn btn-secondary">Click to sign up!</a>
        </p>
      </div>
    </section>
