@{
    ViewData["Title"] = "Tips";
}
<br>
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<hr><br>
<div>
    
<p><strong>So, you want to work in film, what does it really involve?</strong></p>
    
<p>Filmmaking is a great combination of business and art. There are roles to suit every personality and
talent so it’s just a matter of giving it a go and finding the right role fit for you. If you’re interested in
finances and planning then producing is the way to go. If you’re more technically-minded you might
be tempted to try your hand at camera, lights and sound. Maybe you want to have a role in front of
the camera? Then acting is the way to go. Or if you like calling the shots then directing is a must.</p>

    
<p>One thing to bear in mind is that filmmaking is genuinely a team effort. If you’ve ever sat through
the credits at the end of any film you’ll know that it takes a lot of very talented people to get a film
from script to screen.</p>
    <hr>
<p>So here are our top tips on how to get started in film…</p>

<ol>
    <li>Watch lots of films! Seems obvious but make sure you have a good repertoire of film
appreciation under your belt. Try and seek out different versions of the same film, it’s
always interesting to see how different directors approach the same title. Check out any
upcoming festivals as they usually throw up some interesting and unusual films, often with
filmmaker Q&amp;As.</li>
<li>Listen to those already working in the business. Thanks to the development of DVD extras
like Director’s commentary there is a treasure trove of ‘how to’ materials out there. Hear
from those in the business how they approached a specific scene, what they were trying to
achieve overall and the technical issues they had to overcome.</li>
<li>Give it a go. Everyone has access to a camera these days – yes even your smart phone
counts! So why not give it a go, try creating a simple story using just your phone and
whoever you can rope in to helping you. Learning by doing is a great way to get things
wrong and trouble shoot – better to make mistakes now and learn from them!</li>
<li>Research, research, research. There are so many handy resources online these days so make
sure you get online and start learning more. From credit design to tips for actors and
director’s commentaries to green screen examples there is an endless amount of useful
materials out there.</li>
<li>Try one of our courses! Of course the best way to get started in film is to try our one of our
beginner courses to dip your toe in the water. Here you’ll get great tuition from industry
practitioners, the chance to use the latest equipment and technology and a chance to create
work with a class of like-minded film enthusiasts! </li>
        </ol>

<hr><br>
            <p>Check out our <a asp-area="" asp-controller="Home" asp-action="CourseList">Courses Page</a> and sign up now!</p>
    <br><p>For any more questions, be sure to <a asp-area="" asp-controller="Form" asp-action="Contact">get in touch</a>!</p>
</div>
